body {
	background-color: #FFFDFD;
}
div#main{
	width: 600px;
	margin: 50px auto;
}

table{
	border: 2px #c8c8cb  solid;
	width: 500px;
	empty-cells: show;
}
table td{
	border:0px;
}
#right{
	text-align: right;
}

#formButton{
	background-color: #b4ebfa;
	padding: 20px;
	border: 2px #c8c8cb  solid;
	font-size: 1.4em;
	/*以下三行でボタンの角を丸くする*/
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
	}

.red-bolder{
	color: #ff2800;
	font-weight: 700; 
}